<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="project_quan_ly_giuong_benh.Properties.Settings.QuanLyBenhNhanF0ConnectionString"
            connectionString="Data Source=HXN\SQLEXPRESS;Initial Catalog=QuanLyBenhNhanF0;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>